{% extends "base.html" %}
{% block body %}
<h1>Nylas Hosted OAuth Example</h1>

{% if not insecure_override %}
<div class="well hidden">
  <h2>Warning</h2>
  <p>OAuth requires HTTPS, and this page is loaded via insecure HTTP.
    If you try to connect to Nylas like this, it will fail.
    To fix this problem, serve this website over HTTPS.
  </p>
  <p>Since this is just an example, you can disable this requirement by
    setting the <code>OAUTHLIB_INSECURE_TRANSPORT</code> environment
    variable to <code>1</code> before running this example again.
    However, you will <em>not</em> be able to do this when running
    in production.
  </p>
</div>
{% endif %}

<p>Thanks for giving Nylas a try! Next, you need to click this button
   to connect to Nylas via hosted OAuth.</p>
<a href="{{ url_for("nylas.login") }}" class="btn btn-primary">Connect to Nylas</a>

<script type="text/javascript">
  if (location.protocol === "http:") {
    var el = document.querySelector(".well.hidden");
    el.className = "well";
  }
</script>
{% endblock %}
