{% extends "base.html" %}
{% block body %}
<p>Thanks for giving Nylas a try!
   This example is set up to work with Exchange, so it will only work if you
   have an Exchange account.</p>

<form method="POST" action="/">
  <p>Please enter the credentials for your Microsoft Exchange account.</p>
  {{ form.hidden_tag() }}

  {% if api_error %}
    <div class="well well-sm">{{ api_error }}</div>
  {% endif %}

  {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
      {{ field.label }}
      {{ field(class_='form-control') }}
      {% if field.errors %}
        <span style="color: red;">{% for error in field.errors %}{{ error }}{% if not loop.last %}<br />{% endif %}{% endfor %}</span>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
