{% extends "base.html" %}
{% block body %}
<h1>Nylas Native Authentication Example</h1>

{% if not insecure_override %}
<div class="warning hide">
  <h2>Warning</h2>
  <p>OAuth requires HTTPS, and this page is loaded via insecure HTTP.
    If you try to connect to Google like this, it will fail.
    To fix this problem, serve this website over HTTPS.
  </p>
  <p>Since this is just an example, you can disable this requirement by
    setting the <code>OAUTHLIB_INSECURE_TRANSPORT</code> environment
    variable to <code>1</code> before running this example again.
    However, you will <em>not</em> be able to do this when running
    in production.
  </p>
</div>
{% endif %}

<h2>Step 1: Connect with Google</h2>

<p>Thanks for giving Nylas a try! Native Authentication is a two-step process,
   where the first step is connecting with the native email provider.
   This example is set up to work with Google, so it will only work if you
   have a Gmail account.</p>
<p>First, please click this link to connect with Google.</p>
<a href="{{ url_for("google.login") }}">Connect with Google</a>

<script type="text/javascript">
  if (location.protocol === "http:") {
    var el = document.querySelector(".warning.hide");
    el.className = "warning";
  }
</script>
{% endblock %}
