<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
div.list-group-item {
  height: 45px;
}
div.list-group-item > a {
  padding-top: 5px;
  display: block;
  float: left;
  color: #DD0000;
}
div.list-group-item form {
  padding-left: 5px;
  float: left;
  width: 95%;
}
div.list-group-item form input {
  width: 100%;
}
</style>
<title>Inbox TODOs</title>
</head>
<body role="document">
<div class="container theme-showcase" role="main">
<div class="page-header">
  <h1>My TODO List
      <a href="#" onclick="add_todo()">
      <button type="submit" class="btn btn-default"> <i class="glyphicon glyphicon-plus"></i>&nbsp; New</button>
      </a>
  </h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Todos</h3>
  </div>
    <div class="list-group" id="todo-list">
      {% for todo in todos %}
      <div class="list-group-item">
        <a href='/delete/{{ todo.id }}' class="glyphicon glyphicon-remove"></a>&nbsp;
        <span class="list-group-item-heading" onclick="edit('{{todo.id}}')" id="todo.{{todo.id}}">{{todo.subject}}</span>
      </div>
      {% endfor %}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
function add_todo(){

  var item_div=document.createElement('div');
  item_div.className="list-group-item";

  var todo_span=document.createElement('span');
  todo_span.innerHTML="<form action='/add'><input name='text' ></input></form>";
  todo_span.className="list-group-item-heading";
  item_div.appendChild(todo_span);

  var list=document.getElementById('todo-list');
  list.appendChild(item_div);
}
function edit(id){
  var item_span=document.getElementById('todo.' + id);
  input = "<input name='text' value='" + item_span.innerHTML + "'></input>"
  item_span.innerHTML="<form class='edit' action='/update/" + id + "'>" + input + "</form>";
  item_span.onclick = null;
}
</script>
</div>
</body></html>
